$transition-duration: 1.5s;

/* entire container, keeps perspective */
.flip-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  
  &, .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
  }

	/* flip the pane when hovered */
	&.hover .flipper {
		transform: rotateY(180deg) translate3d(0,0,0);
  }

  .front, .back {
    width: 100%;
    height: 100%;
    /* hide back of pane during swap */
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
  }
}

.envelope {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  width: 80%;
  height: 80%;
  top: 10%;
  transform: translate3d(0,0,0);
  transition-property: width, height, top;
  transition-duration: $transition-duration;
  box-shadow: 5px 5px 10px #626262;

  .flip {
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    transform: translate3d(0,0,0);
    transition: transform $transition-duration;
    transform-origin: center top;
    z-index: 4;
    cursor: pointer;

    .flip-paper {
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 0px 0px, 100% 0px, 50% 100%);
      height: 100%;
      width: 100%;
      background: #e5d88a;
    }

    .flip-image {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;

      img {
        position: relative;
        top: 50%;
        height: 100%;
        filter: drop-shadow(0px 0px 5px #000);
        transition: height 0.2s;
      }
      &:hover img {
        height: 105%;
      }
    }
  }

  .cover-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
    background: rgb(208,191,88);
    background: linear-gradient(90deg, rgba(208,191,88,1) 0%, rgba(203,171,19,1) 35%, rgba(255,241,0,1) 100%);
    z-index: 2;
    cursor: pointer;
    transition: transform 0.5s;

    .recipient {
      display: flex;
      align-items: center;

      .badge {
        box-shadow: 0 0 10px black;
      }
    }

    .image {
      img {
        max-height: 90%;
        max-width: 90%;
        position: relative;
        top: 5%;
        filter: drop-shadow(0px 0px 5px #000);
      }
    }
  }

  .cover-back {
    position: relative;
    clip-path: polygon(0 0, 0px 0px, 0px 100%, 100% 100%, 100% 0, 50% 30%);
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
    background: rgb(208,191,88);
    background: linear-gradient(90deg, rgba(208,191,88,1) 0%, rgba(203,171,19,1) 35%, rgba(255,241,0,1) 100%);
    z-index: 2;
    transition: transform 0.5s;
  }

  .letter {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: url('/static/paper_fibers.png');
    background-size: cover;
    z-index: 1;
    transform: translate3d(0,0,0);
    transition-property: top, left, width, height;
    transition-duration: $transition-duration;
    overflow: hidden;
  }

  // We implement 3 types of the opening animation:
  // open-cover : animate when the cover is opening
  // take-out-letter : animate when the letter is being taken out
  // show-letter : animate when the letter is out and showing to the user
  &.open-cover {
    .flip {
      transform: rotateX(180deg) translate3d(0,0,0);
    }
  }

  &.take-out-letter {
    top: 25%;

    .flip {
      z-index: 2;
    }

    .cover-back {
      z-index: 4;
    }

    .letter {
      top: -250%;
      z-index: 3;
    }
  }

  &.show-letter {
    width: 100%;
    height: 100%;
    top: 0;

    .letter {
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}
